<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<error-page>
		<error-code>500</error-code>
		<location>/error/500.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/error/404.jsp</location>
	</error-page>
  <servlet>
    <servlet-name>AddCustServlet</servlet-name>
    <servlet-class>com.itheima.web.AddCustServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListCustServlet</servlet-name>
    <servlet-class>com.itheima.web.ListCustServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CustInfoServlet</servlet-name>
    <servlet-class>com.itheima.web.CustInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateCustServlet</servlet-name>
    <servlet-class>com.itheima.web.UpdateCustServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DelCustServlet</servlet-name>
    <servlet-class>com.itheima.web.DelCustServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BatchDelServlet</servlet-name>
    <servlet-class>com.itheima.web.BatchDelServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindCustByCondServlet</servlet-name>
    <servlet-class>com.itheima.web.FindCustByCondServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PageCustServlet</servlet-name>
    <servlet-class>com.itheima.web.PageCustServlet</servlet-class>
  </servlet>








  <servlet-mapping>
    <servlet-name>AddCustServlet</servlet-name>
    <url-pattern>/servlet/AddCustServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListCustServlet</servlet-name>
    <url-pattern>/servlet/ListCustServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustInfoServlet</servlet-name>
    <url-pattern>/servlet/CustInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateCustServlet</servlet-name>
    <url-pattern>/servlet/UpdateCustServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelCustServlet</servlet-name>
    <url-pattern>/servlet/DelCustServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BatchDelServlet</servlet-name>
    <url-pattern>/servlet/BatchDelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindCustByCondServlet</servlet-name>
    <url-pattern>/servlet/FindCustByCondServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PageCustServlet</servlet-name>
    <url-pattern>/servlet/PageCustServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
